<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>
<body>
    <h3>Your card is: <span id="card">{{card}}</span></h3>
    <h3>Your total is: </h3>
    <button onclick='hit()'>hit</button>
    
    <a href='/'>go bk</a>
    <script type='text/javascript' src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>