<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>
<body>
    <h3>Your card is: {{session['card']}}</h3>
    <h3>Your total is: {{session['sum']}}</h3>
    
    <form action="/add_card" method="post">
        <input type="submit" name="play" value="hit"/>
        <input type="submit" name="play" value="stop"/>
    </form>
    <a href='/'>go bk</a>

</body>
</html>